<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="icon" href="/images/logo.png" type="image/icon type">
	<title>My Login Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/loginstyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/stackpathboot.css">
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	--> <script src="javascripts/script.js"></script>
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
                            <div class="bar">
                                <button type="submit" class="btn btn-primary btn-block" id="a1" onclick="aa1()">
                                    User
                                </button>
                                <button type="submit" class="btn btn-primary btn-block" id="a2" onclick="aa2()">
                                    Authority
                                </button>
                            </div>
							
                            <div id="user">
                                <h4 class="card-title">User Login</h4>
							<form method="POST" action="/login" class="my-login-validation"  onsubmit="return ValidateEmailUser() && ValidatePasswordUser()">
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" onkeyup="ValidateEmailUser()" required autofocus>
									<div class="invalid-feedback"  id="e1">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
									</label>
									<input id="password" type="password" class="form-control" name="password" onkeyup="ValidatePasswordUser()" required data-eye>
								    <div class="invalid-feedback" id="p1">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" id="s1">
										Login
									</button>
									<div class="c1">
										<div class="invalid-feedback" id="inva1">
											<%=(typeof alertMsg!='undefined')? alertMsg:''%>
										</div>
									</div>
								</div>
                                
							</form>
                            </div>
                            <div id="auth">
                                <h4 class="card-title">Authority Login</h4>
                            <form method="POST" action="/authlogin" class="my-login-validation" onsubmit="return ValidateEmailAuth() && ValidatePasswordAuth()" novalidate="">
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email1" type="email" class="form-control" name="email_auth" value="" onkeyup="ValidateEmailAuth()" required autofocus>
									<div class="invalid-feedback" id="e2">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
									</label>
									<input id="password1" type="password" class="form-control" name="password_auth" onkeyup="ValidatePasswordAuth()" required data-eye>
								    <div class="invalid-feedback" id="p2">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" id="s1" >
										Login
									</button>
									<div class="c1">
										<div class="invalid-feedback" id="inva2">
											<%=(typeof alertMsg!='undefined')? alertMsg:''%>
										</div>
									</div>
								</div>
							</form>
                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>