<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" href="/images/logo.png" type="image/icon type">
        <title>Civil Works Department</title>
       <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/electriccs.css" rel="stylesheet" />
        <script src="/javascripts/elctricscript.js"></script>
        <style>
            .testimonial-card .card-up {
            height: 120px;
            overflow: hidden;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            }

            .aqua-gradient {
            background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
            }

            .testimonial-card .avatar {
            width: 120px;
            margin-top: -60px;
            overflow: hidden;
            border: 5px solid #fff;
            border-radius: 50%;
            }
            .imagehov{ transition: all .2s ease-in-out; }
            .imagehov:hover { transform: scale(1.2); }
        </style>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Maintenance System</div>
                <div class="list-group list-group-flush accordion-group" id="globalgroup">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil"><b>Home</b></a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#globalgroup" href="#collapse1" id="group1" onclick="makeactive('group1')"><b>Service Requests </b>
                        <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                    </i></a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/latest">Latest Requests</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/pending">Pending Requests</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/inprogress">In Progress Requests</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/completed">Completed Requests</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/closed">Closed Requests</a>
                      </div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#globalgroup" href="#collapse2" id="group2" onclick="makeactive('group2')"><b>Workers / Supervisors </b>
                        <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/addworker">Add Worker</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/removeworker">Remove Worker</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/workerlist">Workers List</a>
                      </div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#globalgroup" href="#collapse3" id="group3" onclick="makeactive('group3')"><b>Locations </b>
                        <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                    </a>
                    <div id="collapse3" class="panel-collapse collapse">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/addlocation">Add Location</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/removelocation">Remove Location</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/locationlist">View Locations</a>
                      </div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/dutyassignment"><b>Duty Assignment</b></a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#globalgroup" href="#collapse4" id="group4" onclick="makeactive('group4')"><b>Inventory </b>
                        <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                    </a>
                    <div id="collapse4" class="panel-collapse collapse">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/addinventory">Add New Items to Inventory</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/updateinventory">Update Inventory</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/civil/checkinventory">Check Inventory</a>
                      </div>
                    
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom"    id="navigationbar">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">
                            <svg xmlns="./icons-1.3.0/icons/list.svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                              </svg>
                            Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="./icons-1.3.0/icons/person-circle.svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                          </svg>
                                          <%=(typeof username!='undefined')? username:''%></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/civil/reset">Reset Password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/authlogout">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                          <div class="container">
                              <section class="mx-auto my-5" style="max-width: 23rem;">
                                  
                                <div class="card testimonial-card mt-2 mb-3">
                                  <div class="card-up aqua-gradient"></div>
                                  <div class="avatar mx-auto white imagehov bg-white" >
                                    <img src="/images/latest.png" class="rounded-circle img-fluid"
                                      alt="Profile Photo">
                                  </div>
                                  <div class="card-body text-center">
                                    <h4 class="card-title font-weight-bold">Latest Requests</h4>
                                    <hr>
                                    <p><a href="/civil/latest"><button type="submit" class="btn btn-primary">Click Here</button></a></p>
                                  </div>
                                </div>
                                
                              </section>
                            </div>
                        </div>
                        <div class="col">
                          <div class="container">
                              <section class="mx-auto my-5" style="max-width: 23rem;">
                                  
                                <div class="card testimonial-card mt-2 mb-3">
                                  <div class="card-up aqua-gradient"></div>
                                  <div class="avatar mx-auto white imagehov bg-white">
                                    <img src="/images/duty.png" class="rounded-circle img-fluid"
                                      alt="Profile Photo">
                                  </div>
                                  <div class="card-body text-center">
                                    <h4 class="card-title font-weight-bold">Duty Assignment</h4>
                                    <hr>
                                    <p><a href="/civil/dutyassignment"><button type="submit" class="btn btn-primary">Click Here</button></a></p>
                                  </div>
                                </div>
                                
                              </section>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container">
                                <section class="mx-auto my-5" style="max-width: 23rem;">
                                    
                                  <div class="card testimonial-card mt-2 mb-3">
                                    <div class="card-up aqua-gradient"></div>
                                    <div class="avatar mx-auto white imagehov bg-white">
                                      <img src="/images/inventory.jpg" class="rounded-circle img-fluid"
                                        alt="Profile Photo">
                                    </div>
                                    <div class="card-body text-center">
                                      <h4 class="card-title font-weight-bold">Inventory</h4>
                                      <hr>
                                      <p><a href="/civil/checkinventory"><button type="submit" class="btn btn-primary">Click Here</button></a></p>
                                    </div>
                                  </div>
                                  
                                </section>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
